
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.body_font {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/hospital.jpg');
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    color: #000;

}
.body_font_a {
    /* grid */
    display: grid;
    padding: 7vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('../images/randevu.jpg'); */
    background-size: cover;
    background-position: center;
    background-color: antiquewhite;
    color: #000;
    

}

.header_font {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1,1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;


}

.navigation .btnLogin-popup:hover {
    background-color: #fff;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


.wrapper .form-box {
    width: 100%;
    padding: 40px;

}

/* .wrapper .form-box.login {
    display: none;
} */

.wrapper .form-box register{
    position: absolute;
    transform: translateX(400px);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #09122a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    z-index: 1;
}


.form-box h2 {
    font-size: 2em;
    color: #09122a;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #09122a;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #09122a;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #09122a;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 3px;
    font-size: 1.2em;
    color: #09122a;
    line-height: 57px;
}


.remember-forgot {
    font-size: .9em;
    color: #09122a;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a {
    color: #09122a;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #09122a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.login-register {
    font-size: .9em;
    color: #09122a;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px; 
}

.login-register p a {
    color: #09122a;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}


