

.body__font {
    width: 100%;
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: white;

}

a {
    text-decoration: none;
    color: white;

}
.header__wrapper header {
    width: 100%;
    background: url(../images/background4.jpg) no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
}
.header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header__wrapper  .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;


}

.header__wrapper .cols__container .left__col h2 {
    margin-top: 60px;
    font-weight:  600;
    font-size: 22px;
    margin-bottom: 5px;
    color: white;
}

.header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
    color: white;
}

.header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
    color: white;
    
}

.header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
    color: white;
}

.header__wrapper .cols__container .left__col .about li span {
    
    font-weight: 600;
    color: white;

}

.header__wrapper .cols__container .left__col .about::after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width:  100%;
   
}

.header__wrapper .cols__container .content p {
    font-size: 1rem;
    color: white;
    line-height: 1.8rem;
}

.header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header__wrapper .cols__container .content ul li {
    font-size: 1.3rem;
    
}

.header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;

}

 .button_about {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 10px;

}

.button_about:hover {
    opacity: 0.5;
    background-color: black;

}


.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;

}

/* @media (min-width: 868px) {
    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }
    .header__wrapper .cols__container .left__col {
        pad: 25px 0;
    }

    .header__wrapper .cols__container .right__col nav ul {
        flex-direction: row;
        gap: 30px;
    }

    
} */

 



